:global {
  @import "../../node_modules/normalize.css/normalize.css";

  html {
    margin: 0;
    padding: 0;
    font-size: 20px;

    @media (screen and min-width: 800px) {
      font-size: 25px;
    }

    font-family: "Times New Roman", Times, serif;
    min-height: 100vh;
  }

  body {
    padding: 1em;
  }
}
